.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
# src/assets/img/slideImage1.jpg
# src/assets/img/slideImage4.jpg
# src/assets/img/slideImage3.jpg
# src/assets/img/slideImage2.jpg
static/ES6.pdf
static/test.pdf
